*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-md-6{
    box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.1);
    transition: 0.6s;
}
.col-md-6:hover{
    box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.5);
}

/* settings page extra styling */
